/bin/average-dofs
/bin/average-images
/bin/compose-dofs
/bin/invert-dof
/bin/register
/dag/
*.log
.*.swo
.*.swp
/lib/tools/register
/lib/tools/invert-dof
/lib/tools/compose-dofs
/lib/tools/average-images
/lib/tools/aggregate-images
/lib/tools/average-dofs
/lib/tools/transform-image
/lib/tools/edit-image
/lib/tools/evaluate-overlap
