/bin/average-dofs
/bin/average-images
/bin/compose-dofs
/bin/invert-dof
/bin/register
/bin/mirtk
/dag/
/log/
/seg/
*.log
.*.swo
.*.swp
.nfs*
/lib/tools/register
/lib/tools/invert-dof
/lib/tools/compose-dofs
/lib/tools/average-images
/lib/tools/aggregate-images
/lib/tools/average-dofs
/lib/tools/transform-image
/lib/tools/edit-image
/lib/tools/evaluate-overlap
/lib/tools/average-overlap
/lib/tools/run-dagman
/etc/config/custom.sh
